input[type="range"] {
  transition: all 0.4s;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 2px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 8px;
  width: 15%;
  border-radius: 0%;
  background: black;
  margin-top: -4px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
.carousel-container-with-scrollbar {
  padding-left: 10%;
  padding-bottom: 20px;
  /* margin-left: 100px; */
  /* overflow: visible !important; */
}
.custom-slider {
  position: absolute;
  bottom: 1rem;
  width: 51%;
  padding: 0 20px;
}
.custom-slider__input {
  width: 100%;
}
.slider-image-item {
  padding: 20px 0 20px 20px;
}

button {
  background-color: none;
  border: none;
}

.react-multiple-carousel__arrow {
  border-radius: 0;
  background: none;
  /* min-height: 80px;
  min-width: 80px; */
  width: 200px;
  height: 200px;
  opacity: 0.5;
}

.react-multiple-carousel__arrow:hover {
  background: none;
  opacity: 1;
  width: 160px;
  /* height: 220px; */
  transition: ease-in-out 0.4s all;
}

.react-multiple-carousel__arrow--left::before {
  content: url(../assets/triangle-right-dark@2x.png);
  transform: scaleX(-1);
}

.react-multiple-carousel__arrow--left::after {
  background-color: none;
}

.react-multiple-carousel__arrow--right {
  right: calc(33% + 1px);
}

.react-multiple-carousel__arrow--right::before {
  content: url(../assets/triangle-right-dark@2x.png);
}

.react-multiple-carousel__arrow--right::after {
  background-color: none;
}